.ticket {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        max-width: 430px;
    }

    &__price {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: #2196F3;
    }
}

.segment {
    &__header {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #A0B0B9;
        letter-spacing: 1px;
    }

    &__body {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #4A4A4A;
    }
}