.main {
    &-input {
        display: none;
    }

    &-label {
        display: block;
        padding: 15px;
    }

    &-filter {
        width: 168px;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #DFE5EC;

        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #4A4A4A;

        &:first-child {
            border-radius: 8px 0px 0px 8px;
            border-right: none;
        }

        &:last-child {
            border-radius: 0px 8px 8px 0px;
            border-left: none;
        }

        &__active {
            background: #2196F3;
            color: #FFFFFF;
        }

        &__input {
            display: none;
        }
    }


    &-filters {
        display: flex;
        flex-direction: row;

    }
}